html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

body {
  background-image:;
  background-color: gray;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h1 {
  font-family: 'EB Garamond', serif;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

section.board {
  display: grid;
  background-color: green;
  grid-template-rows: repeat(2, 20vmin);
  grid-template-columns: repeat(2, 25vmin);
  grid-gap: 0vmin;
  justify-content: center;
}

div.board-space {
  border: 1.5px solid black;
  border-radius: 4px;
  font-family: 'EB Garamond', serif;
  font-size: 8vmin;
  font-size: 24px;
  text-align: center;
}

section.container {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
}

#question-space {
  width: 850px;
  height: 150px;
  font-family: 'EB Garamond', serif;
  font-size: 38px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  border: 1px solid red;
  word-wrap: normal;
  white-space: pre-wrap;
  word-break: break-word;
}

#score-display {
  width: 250px;
  height: 50px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 48px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid red;
}

#answer-box {
  width: 500px;
  height: 100px;
  border-radius: 25px;
  border: 2px solid #609;
  
  font-family: 'Caveat', cursive;
  font-weight: bold;
  text-align: center;
  font-size: 48px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  width: 100px;
  padding: 10px;
  margin: 25px;
}

#countdown {
  font-family: 'Orbitron', sans-serif;
  font-size: 64px;
  color: white;
  padding: 10px;
  margin: 25px;
  text-shadow: 
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(255, 0, 0),
    0 0 82px rgb(255, 0, 0),
    0 0 92px rgb(255, 0, 0),
    0 0 102px rgb(255, 0, 0),
    0 0 151px rgb(255, 0, 0);
}









