html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

body {
  background: url(https://i.ibb.co/qrpCGGn/background.gif);
  background-size: cover;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h1 {
  border: 2px solid black;
  background-color: grey;
  font-family: 'EB Garamond', serif;
  font-size: 64px;
  text-align: center;
  padding: 0px;
  margin: 0px;
  color: purple;
  text-shadow: 
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px purple,
  0 0 82px purple,
  0 0 92px purple,
  0 0 102px purple,
  0 0 151px purple;
}

section.board {
  display: grid;
  border: 2px solid black;
  background-color: white;
  grid-template-rows: repeat(2, 20vmin);
  grid-template-columns: repeat(2, 25vmin);
  grid-gap: 0vmin;
  justify-content: center;
  
}

div.board-space {
  border: 1.5px solid red;
  border-radius: 4px;
  font-family: 'EB Garamond', serif;
}

#wrong {
  width: 100px;
  height: 100px;
  background-color:black;
}

#correct {
  width: 100px;
  height: 100px;
  background-color:black;
}

#cat0 {
  background-image: url(https://i.ibb.co/J50wRqC/pop.gif);
  background-size: cover;
  color:yellow;
  font-size: 50px;
  line-height: 400px;
  text-align: center;
  text-shadow: 
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px yellow,
  0 0 82px yellow,
  0 0 92px yellow,
  0 0 102px yellow,
  0 0 151px yellow;
}
#cat1 {
  background-image: url(https://i.ibb.co/Q9ZXs5n/movies.gif);
  background-size: contain;
  color:blue;
  font-size: 50px;
  line-height: 400px;
  text-align: center;
  text-shadow: 
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px blue,
  0 0 82px blue,
  0 0 92px blue,
  0 0 102px blue,
  0 0 151px blue;
}
#cat2 {
  background-image: url(https://i.ibb.co/HBLM0QJ/sportsgif5.webp);
  background-size: cover;
  color: green;
  font-size: 50px;
  line-height: 75px;
  text-align: center;
  text-shadow: 
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px green,
  0 0 82px green,
  0 0 92px green,
  0 0 102px green,
  0 0 151px green;
}

#cat3{
  background-image: url(https://i.ibb.co/5h9jMGQ/musicgif.gif);
  background-size: cover;
  color: rgb(255,0,225);
  font-size: 50px;
  line-height: 75px;
  text-align: center;
  text-shadow: 
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px rgb(255, 0, 225),
  0 0 82px rgb(255, 0,225),
  0 0 92px rgb(255, 0,225),
  0 0 102px rgb(255, 0,225),
  0 0 151px rgb(255, 0,225);
}

section.container {
  border: 2px solid black;
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#question-space {
  width: 850px;
  height: 150px;
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  border: 2px solid red;
  word-wrap: normal;
  white-space: pre-wrap;
  word-break: break-word;
}

#score-display {
  width: 250px;
  height: 50px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 48px;
  background-color: white;
  border-radius: 5px;
  border: 2px solid red;
}

#answer-box {
  width: 500px;
  height: 100px;
  border-radius: 25px;
  border: 2px solid red;
  font-family: 'Caveat', cursive;
  font-weight: bold;
  text-align: center;
  font-size: 48px;
}

footer {
  border: 2px solid black;
  background-color: lightslategrey;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  width: 100px;
  padding: 10px;
  margin: 25px;
}

#countdown {
  font-family: 'Orbitron', sans-serif;
  font-size: 64px;
  color: white;
  padding: 10px;
  margin: 25px;
  text-shadow: 
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(255, 0, 0),
    0 0 82px rgb(255, 0, 0),
    0 0 92px rgb(255, 0, 0),
    0 0 102px rgb(255, 0, 0),
    0 0 151px rgb(255, 0, 0);
}









